.base-nav-menu{
  height: 100%;
  &:not(.el-menu--collapse) {
    width: 210px;
  }
  .collapse {
    height: 40px;
    font-size: 14px;
    padding: 0px 20px;
    color: #BFCBD9;
    border-bottom: 1px solid rgba(236,236,236,0.5);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    i{
      font-size: 22px;
      padding-right: 5px;
    }
  }
}
// .base-nav-menu:not(.el-menu--collapse) {
//   width: 240px;
// /*     transition: 0.3s; */
// /*     min-height: 400px; */
// }
