.container {
  height: 100%;
  // border: 1px solid green;
  box-sizing: border-box;
  .north-cls{
    background-color: #fff;
  }
}
/* .logo-box {
  img {
    width: 40px;
    height: 40px;
  }
}
.right-box {
  div {
    padding: 0px 3px;
  }
} */
.inner-box {
}
.borderBottom {
  .border-bottom-fn();
}
/* .button-group-cls {
  padding: 0px 34px !important;
  & :hover {
    color: #4989f4;
  }
} */
/* .active-cls {
  background-color: #e7eaed;
  background-image: url('@{assets}/images/header-active.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 30%;
} */
