/* 网站-顶部工具栏 */

/* 网站-顶部工具栏 */
.logo-box {
  img {
    width: 40px;
    height: 40px;
  }
}
.right-box {
  div {
    padding: 0px 3px;
  }
}
.button-group-cls {
  padding: 0px 34px !important;
  & :hover {
    color: #4989f4;
  }
}
.active-cls {
  background-color: #e7eaed;
  background-image: url('@{assets}/images/header-active.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 30%;
}
